.body{
    font-family: "Open Sans", sans-serif;
}

.home-carousel img{
    opacity: 0.6;
    height: 780px;
}

.overlay{
    position: absolute;
    height: 780px;
    width: 100%;
    background-color: #000000;
}

.carousel-inner{
    position: relative;
}

.carousel-item{
    position: relative;
}
.carousel-item h5{
    position: absolute;
    font-size: 3.5rem;
    width: 50%;
    font-weight: 700;
    margin-top: -500px;
    margin-left: -60px;
    text-align: left;
}

.carousel-item p{
    position: absolute;
    margin-top: -280px;
    margin-left: -60px;
    text-align: left;
    width: 30%;
    font-size: 1.2rem;
    font-weight: 400;

}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all .35s ease;
    background:#e7272d;
    color: #f8f8f8;
    position: absolute;
    margin-top: -150px;
    margin-left: -600px;

}

.container{
    padding-top: 20rem;
    padding-bottom: 4rem;
    position: relative;
    width: 100%;
}

.cards{
    display: flex;
    position: absolute;
    margin-top: -23rem;
    margin-left: 10rem;
}

.card:nth-child(2){
    background: lightgrey;
}


.card{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    width: 20rem;
    height: 20rem;
    background: #f8f8f8;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.166667px;
    line-height: 1.7em;
    color: #7e8690;
    padding: 3.5rem;
}

.icon{
    font-size: 2rem;
    margin-bottom: 15px;
}

.card h3{
    color: black;
    font-size: 1.5rem;
    margin-top: 8px;
}

.container2{
    display: flex;
    background-color: rgb(38, 32, 30);
    color: #f8f8f8;
    padding: 5rem 10rem;
    height: 50rem;
}

.container2 img, .container3 img{
    height: 40rem;
    margin-right: 5rem;
}

.container2 h2, .container3 h2, .container4 h2{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
}

.container2 h5, .container3 h5, .container4 h5{
    font-size: 3.5rem;
    font-weight: 700;
    width: 50%;
    text-align: left;
    margin-bottom: 4rem;
}

.container2 p, .container3 p{
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.btn1{
    display: inline-block;
    padding: 1rem 2rem;
    margin-right: 2rem;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: all .35s ease;
    background:#e7272d;
    color: #f8f8f8;
    
}

.btn1:hover{
    background: transparent;
}

.container3{
    background-color: #302d2d;
    color: #f8f8f8;
    display: flex;
    padding: 5rem 10rem;
    height: 50rem;
}

.container3 img{
    margin-left: 5rem;
    margin-right: 2rem;
}

.container4{
    height: 40rem;
    background-color: #f8f8f8;
    color: black;
    text-align: center;
    padding: 7rem 10rem;
}

.container4 h5{
    margin: auto;
    width: 80%;
    margin-bottom: 5rem;
}

@media screen and  (max-width: 600px){
    .container .cards{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15rem;
    }

    .card{
        width: 45rem;
        height: 30rem;
        margin-top: 5rem;
        margin-left: 26rem;
    
    
    }

    .container2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100vw;
display: block;

    }

    .carousel-inner{
        width: 70rem;
    }
    .carousel-control-next {
        right: -36rem;
    }
    

    .container3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: block;

    }
}